body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.7em solid rgba(255, 255, 255, 0);
  border-right: 0.7em solid rgba(255, 255, 255, 0);
  border-bottom: 0.7em solid rgba(255, 255, 255, 0);
  border-left: 0.7em solid #2f395c;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.0s infinite linear;
  animation: load8 1.0s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
.sk-cube-grid {
  width: 40px;
  height: 40px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #a2aed6;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.spinner {
    border: 6px solid #f2f2f2; /* Light grey */
    /*border-top: 6px solid #354381; /* Blue */
    /*border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}*/

.fill-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gradient-background {
    background: #242d55;
    background: -webkit-linear-gradient(#242d55, #354381);
    background: -webkit-linear-gradient(#242d55, #354381);
    background: -o-linear-gradient(#242d55, #354381);
    background: -moz-linear-gradient(#242d55, #354381);
    background: linear-gradient(#242d55, #354381);
    color: white;
}

.blue-border {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f2f2f2;
    color: #354381;
}

.gray-border {
  width: 100%;
  border: 1px solid rgba(39, 49, 95, 0.1);
  padding: 20px;
  background: white;
  margin-bottom: 10px;
}

.page-header {
    color: white;
    padding: 14px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    background: #2f395c; 
    border: none;
}