.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    background: #4355A7;
    background: -webkit-linear-gradient(#27315F, #4355A7);
    background: -webkit-linear-gradient(#27315F, #4355A7);
    background: -o-linear-gradient(#27315F, #4355A7);
    background: -moz-linear-gradient(#27315F, #4355A7);
    background: linear-gradient(#27315F, #4355A7);

    border-block-end: block;
    background-color:none;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #f1f1f1;
    display: block;
    padding: 14px 0px;
}

.sidenav a:hover {
    background: rgba(0, 0, 0, 0.1);
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
